# Ativa o ambiente Python se estiver usando virtualenv
layout python .venv

# Backend
export FIREBASE_ADMIN_CREDENTIALS_PATH="./firebase/zayit-25fa8-firebase-adminsdk-fbsvc-bcf458ac20.json"

# Frontend - Firebase Config
export VITE_FIREBASE_API_KEY=AIzaSyAJJWd8Vi6zFVgTc31YIbDqYnABMuP3CYE
export VITE_FIREBASE_AUTH_DOMAIN=zayit-25fa8.firebaseapp.com
export VITE_FIREBASE_PROJECT_ID=zayit-25fa8
export VITE_FIREBASE_STORAGE_BUCKET=zayit-25fa8.firebasestorage.app
export VITE_FIREBASE_MESSAGING_SENDER_ID=401961055288
export VITE_FIREBASE_APP_ID=1:1:401961055288:web:0254cb85962c76ffb7a2cd

