@import 'tailwindcss';
@import '../../node_modules/flowbite/src/themes/default.css';
@plugin "../../node_modules/flowbite/plugin";
@source "../../node_modules/flowbite";
@import '@/assets/styles/buttons.css';
@import '@/assets/styles/forms/input.css';
@import '@/assets/styles/forms/form.css';
@theme {
  --color-black: #080708;
  --color-surface: #0f0f1d;
  --color-zayit-green: #36d869;
  --color-zayit-pink: #dc3da8;
  --color-zayit-blue: #7c26ec;
  --color-card: #121223;

  --gradient-primary: linear-gradient(to top, #bd8aff 20%, #3b82f6); /* roxo → azul */
  --gradient-secondary: linear-gradient(to right, #6b7280, #4b5563); /* cinza */
  --gradient-danger: linear-gradient(to right, #ef4444, #b91c1c); /* vermelho */
  --gradient-success: linear-gradient(to bottom, #36d869, #cbffdb); /* verde */
}

