/* scroll.css */
.custom-scroll::-webkit-scrollbar {
    width: 6px;
  }
  .custom-scroll::-webkit-scrollbar-thumb {
    background-color: var(--color-zayit-blue);
    border-radius: 6px;
  }
  .custom-scroll::-webkit-scrollbar-track {
    background: transparent;
  }
  